*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  position: relative;
  height: 100%;
  margin: 0 auto;
  color: #000000;
  font-family: "Roboto-lite";
  font-size: 16px;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

// @media (min-width: 320px) {
// }

// @media (min-width: 768px) {
// }

// @media (min-width: 1600px) {
// }



.slider-billbord {
	height: 500px;
  @media (max-width:1200px) {
  }
}
.slider-billbord {
	height: 500px;
	position: relative;
	border-radius: 15px;
	z-index: 1;
	display: block;
	background-color: #2f4858;

  @media (max-width:1200px) {
    height: 230px;
    width: 100%;
    padding-bottom: 20px;
    background-color: #fff;
  }
}
.slider-billbord img {
	width: 100%;
	height: 100%;
	opacity: 0.4;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 15px;

  @media (max-width:1200px) {
    opacity: 1;
    border: 1px solid #dbe4f5;
  }
}
.slider-billbord li {
	border-radius: 15px;
}
.billbord {
	padding-top: 27px;
	padding-bottom: 55px;

  @media (max-width:1200px) {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

.billbord .container {
  @media (max-width:1200px) {
    padding: 0;
  }
}
.rev_slider {
  @media (max-width:1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.rev_slider::-webkit-scrollbar {
  width: 5px;               /* ширина всей полосы прокрутки */
  height: 5px;
}

.rev_slider::-webkit-scrollbar-track {
  background: transparent;        /* цвет зоны отслеживания */
}

.rev_slider::-webkit-scrollbar-thumb {
  background-color: #445170;    /* цвет бегунка */
  border-radius: 5px;       /* округлось бегунка */
}

.rev_slide {
  @media (max-width:1200px) {
    width: 90%;
    flex-shrink: 0;
    margin-right: 20px;
  }
}
.rev_slide:last-child {
  @media (max-width:1200px) {
    margin-right: 0;
  }
}

.rev_slider.slick-slider {
  position: relative;
	margin-left: -12%;
	margin-right: -12%;
}
.rev_slider .slick-list {
	padding-top: 0%!important;
	padding-bottom: 0%!important;
	padding-left: 10%!important;
	padding-right: 10%!important;
}
.rev_slider .slick-track {
	max-width: 100%!important;
	transform: translate3d(0, 0, 0)!important;
	perspective: 100px;
}
.rev_slider .slick-slide {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	width: 100%!important;
	transform: translate3d(0, 0, 0);
	transition: transform 1s, opacity 1s;
  border-radius: 1rem;
}

.rev_slider .slick-snext,
.rev_slider .slick-sprev,
.rev_slider .slick-snext2,
.rev_slider .slick-sprev2{
	display: block;
}

.rev_slider .slick-current {
	opacity: 1;
	position: relative;
	display: block;
	z-index: 2;

  box-shadow: 0px 0px 15px 0px #000000;
}

.rev_slider .slick-snext {
	opacity: 1;
	transform: translate3d(20%, 0, -10px);
	z-index: 1;
	perspective: 1000px;

  @media (max-width:1200px) {
    transform: unset;
    perspective: unset;
  }
}
.rev_slider .slick-snext2 {
	opacity: 1;
	transform: translate3d(45%, 0, -20px);
	z-index: 0;
	perspective: 1000px;
  @media (max-width:1200px) {
    transform: unset;
    perspective: unset;
  }
}

.rev_slider .slick-sprev {
	opacity: 1;
	transform: translate3d(-20%, 0, -10px);
  @media (max-width:1200px) {
    transform: unset;
    perspective: unset;
  }
}

.rev_slider .slick-sprev2 {
	opacity: 1;
	transform: translate3d(-45%, 0, -20px);
  @media (max-width:1200px) {
    transform: unset;
    perspective: unset;
  }
}
.slick-current .slider-billbord img {
	opacity: 1;
}
.slider-billbord__content {
	padding: 38px 45px;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	display: flex;
	border-radius: 15px;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	z-index: 1;
}
.slider-billbord__content::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 40%;
	bottom: 0;
	left: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#2f4858));
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #2f4858 100%);
	border-radius: 15px;
	z-index: -1;
}

.slick-toggle {
  position: absolute;
  z-index: 1;
  top: calc(50% - 55px);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #445170;
  background-color: #ffffffa0;
  box-shadow: 0px 0px 15px 0px #000000;
  transition: all .5s;

  &:hover {
    background-color: #fff;
  }

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: 2;
    border: solid #445170;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
   }

  &--prev {
    left: -30px;
    &::before {
      left: 34px;
      transform: rotate(135deg);
    }
  }

  &--next {
    right: -30px;
    &::before {
      transform: rotate(-45deg);
    }
  }
}
